# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log

# Build files
build/
dist/
*.egg-info/

# Hugging Face cache (optional)
.cache/